<html>
  <header>
      <nav>
        <img class=""
          src="https://user-images.githubusercontent.com/25589910/35773866-87c2cbca-092c-11e8-9648-64f016493a56.png">
        <span>Adam's Web Scraper!</span>
          <% current_user %>
            <% if logged_in? %>
              <a href='/'>Home</a>
              <a href='/users/show'>Prior Searches</a>
              <a href='/logout'>Log out</a>
              <% else %>
              <!-- <a href='/sessions/new'>Login</a> -->
              <a href='/users/new'>Register</a>
              <a href='/'>Home</a>
            <% end %>
      </nav>
  </header>

  <head>
    <title>Adam's Search App</title>
  </head>

  <body>
    <div class="register">
    	<form action="/sessions" method="post">
    		<fieldset><legend>Login</legend>
          <!-- <label for="email">Email: </label> -->
          <input  type="text" name="user[email]" placeholder="Email">
    			<!-- <label for="password">Password: </label> -->
          <input  type="password" name="user[password]" placeholder="Password" >
    			<input type="submit" value="Login" id="sub">
    		</fieldset>
    	</form>
    </div>
  </body>
  </html>
