<html>
  <%= render "layouts/navbar" %>

  <body>
    <div class="user-searches">
          <h3>Previous Searches</h3>
            <div class="prev-searches">
              <ul>
                <% Search.where(user_id: session.id).each do |search| %>
                <li><a href="/searches/<%= search.id %>"><%= search.url %></a></li>
              <% end %>
            <div>
    </div>
  </body>
</html>
