<header>
    <nav>
      <h4><center>Adam's Search App</center></h4>
        <% current_user %>
          <% if logged_in? %>
            <a href='/'>Home</a>
            <a href='/logout'>Log out</a>
          <% else %>
            <a href='/sessions/new'>Login</a>
            <a href='/users/new'>Register</a>
        <% end %>
    </nav>
  </header>

<html>
  <body>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
  <%  find_user %>
  <div id="user-searches">
        <h5>Searches</h5>
          <% current_user.searches.each do |search| %>
            <p><a href="/searches/<%= search.id %>"><%= search.url %></a> </p>
          <% end %>
      </div>
  </body>
</html>
