<html>
  <%= render "layouts/navbar" %>

  <body>
    <div class="container-fluid">
      <div class="recently-scraped row">
        <h3>Recently Scraped Websites</h3>
      </div>
      <div class="col recently-scraped">
        <% if @searches.length > 0 %>
          <ol>
            <% @searches.each do |search| %>
              <li><a href="/searches/<%= search.id %>"> <%= search.url %> </a></li>
              <% end %>
          </ol>
          <% end %>
      </div>
      <div class="row scrape-input">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
          <div class="row">
            <form action="/searches" method="post">
              <div class="form-group row">
                <div class="col-md-9">
                  <input type="text" class="form-control mx-sm-3" name="search[url]" placeholder="Enter URL Here...">
                </div>
                <button class="btn btn-primary mb-2" type="submit">Scrape!</button>
              </div>
            </form>
            <div class="row instructions">
              <div class="col-md-10">
              <h5>**Please enter url in the following format: https://www.facebook.com </h5>
            </div>
            </div>
          </div>
        </div>


        <div class="col-md-3">

        </div>
      </div>
    </div>

  </body>
</html>
