<html>
  <header>
      <nav>
        <img class=""
          src="https://user-images.githubusercontent.com/25589910/35773866-87c2cbca-092c-11e8-9648-64f016493a56.png">
        <span>Adam's Web Scraper!</span>
            <a href='/users/show'>Prior Searches</a>
      </nav>
  </header>

  <body>
    <br></br>
    <br></br>
    <br></br>
    <br></br>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="wrap">
      <div class="search">
        <form action="/searches" method="post">
          <input type="text" class="searchTerm" name="search[url]" placeholder="Search...">

          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button>
        </form>

      </div>
      <div class="instructions">
        <p>**Please enter url in the following format: https://www.facebook.com </p>
      </div>

    </div>
    <div class="recentSearches">
        <h2>Recently Scraped</h2>
      <% if @searches.length > 0 %>
        <ol>
          <% @searches.each do |search| %>
            <li><a href="/searches/<%= search.id %>"> <%= search.url %> </li>
            <% end %>
        </ol>
        <% end %>
    </div>
  </body>
</html>
