@import "bootstrap";

.navbar-btn:hover {
  background-color: grey;
  -webkit-transition-duration: 0.4s;
}
.navbar-right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}
.navbar-right li {
  display: inline;
  float: left;
}
.navbar-right li a {
  display: block;
  background-color: grey;
  border-radius: 10px;
  border: 1px solid black;
  color: white;
  margin-bottom: 0px;
  margin-right: 20px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 18px;
  text-decoration: none;
}
.navar-right a:hover{
  -webkit-transition-duration: 0.4s;
  background-color: white;
}
nav {
  height: 70px;
}
.linkHeader {
  display: inline-block;
  border-right: 1px solid #C0C0C0;
  height: 400px;
  width: 170px;
}
// .linkHeader button {
//   background-color: #008CBA;
//   border: none;
//   color: white;
//   width: 150px;
//   padding: 8px 12px;
//   border-radius: 10px;
//   border: 1px solid grey;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   font-size: 12px;
//   margin-bottom: 5px;
// }
.linkHeader button {
  border: 2px solid; 
  height:40px;
  width: 160px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.linkHeader h3 {
  font-size: 14px;
  font-weight: 900;
  color: grey;
}
.linkHeader legend {
  font-weight: 900;
  color: #778899;
  font-size: 14px;
}
#photoContainer {
  display: block;
}
.photos img {
  width: 200px;
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
}
input[type="text"] {
  width: 310px;
  margin-right: 10px;
}
.scrape-input {
  margin-top: 50px;
}
.recently-scraped {
  width: 1000px;
  margin-left: 75px;
}
.recently-scraped ol {
  list-style-position: inside;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.instructions h5 {
  font-size: 10px;
  width: 400px;
  margin-left: 10px;
  margin-top: -15px;
}
.recently-scraped {
  margin-top: 25px;
}
.scrape-results {
  // margin-top: 50px;
}
.scraped-url {
  margin-top: 20px;
  margin-left: 10%;
  height: 50px;
}
.scraped-url h4 {
  // text-align: center;
}
.quick-links-sidebar {
  margin-top: 20px;
}
.search-form button {
  // margin-top: -10px;
    border: 2px solid; 
    border-radius: 10px;
}
.search-form input[type="text"] {
  width: 500px;
  height: 40px;
}
.instruction-help p {
  // font-style: italic;
  // margin-left: 95px;
  // margin-top: -10px;
  // font-size: 12px;
  // color: red;
}
.instruction-help {
  line-height: 30px;
  margin-bottom: 1px;
  height: 30px;
  padding: 0px 15px;
  width: 600px;
}
.scrape-results h1 {
  color: #696969;
}
.user-searches {
  margin-left: 100px;
  margin-top: 40px;
}
.nav-pills a {
  color: white;
}
.incorrect-url {
  margin-left: 200px;
  // margin-right: 20%;
  margin-top: 20px;
}