<header>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="https://user-images.githubusercontent.com/25589910/35773866-87c2cbca-092c-11e8-9648-64f016493a56.png" width="40" height="40" class="d-inline-block align-top" alt="">
      <b>Adam's Web Scraper!</b>
    </a>
    <ul class="navbar-right" >
      <li class="nav-item active">
        <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/show">History</a>
      </li>
    </ul>

</span>
  </nav>
</header>
